<%- include('partials/header.ejs') -%>
<%- include('partials/navbar.ejs') -%>
<div class="container-fluid center-text">
  <h1>Packing Cubez</h1>
</div>
<form class="" action="cubes/newCube" method="post">
  <button class="btn btn-large btn-dark btn-round" type="submit" name="button">+</button>
</form>
<%- include('partials/footer.ejs') -%>
