<%- include('partials/header.ejs') -%>
<div class="container-fluid">
  <input type="text" class="title-input" name="title" value="" placeholder= "Title">
  <hr>
  <input type="text" class="item-input" name="item" value="" placeholder= "Next Item"
  <div class="">
    <ul class="newItems">

    </ul>
  </div>
</div>

<%- include('partials/footer.ejs') -%>
